---
import DevelopmentCard from "../../components/DevelopmentCard.astro";
import data from "../../data/data.json";
const { development } = data;
const {t, lang} = Astro.props
const basePath = lang === 'en' ? '/en' : '';
const withLang = (path) => `${basePath}${path}`;
---

<section class="pt-11 pb-16 md:pt-16 md:pb-20">
    <div class="container mx-auto flex flex-col items-start">
        <div class="development-heading mb-4">
            <h2 class="text-[32px] text-brand-700 font-aghato font-medium m-0" id="development">{t.development.title}</h2>
        </div>
        <div class="development-paragraph mb-6">
            <p class="text-brand-700 font-normal">{t.development.description}</p>
        </div>
        {development && development.length > 0 ? (
                <div class="grid grid-cols-2 md:grid-cols-5 gap-4">
                    {development.map((item) => (
                            <DevelopmentCard
                                    key={item.id ?? item.src}
                                    alt={item.alt}
                                    src={item.src}
                                    link={withLang(item.link)}
                                    hasPadding={item.hasPadding}
                            />
                    ))}
                </div>
        ) : (
                <div class="flex justify-center min-h-[40vh]">
                    <h1 class="text-2xl font-semibold text-center">
                        {t.development.none}
                    </h1>
                </div>
        )}

    </div>
</section>