---
import FaqItem from "../../components/FaqItem.astro";
import data from "../../data/data.json";
const { faqs } = data;
const {t} = Astro.props;
---
<section class="bg-brand-300 bg-opacity-10 pb-14 pt-14">
    <div class="container mx-auto flex flex-col items-center">
        <div class="faqs-title mb-12">
            <h2 class="m-0 text-[32px] text-brand-700 font-aghato font-medium" id="faq">{t.faqs.title}</h2>
        </div>
        {faqs.length > 0 ? (
                <div class="w-full">
                    {faqs.map(faq => (
                            <FaqItem key={faq.id} title={faq.title} text={faq.text}/>
                    ))}
                </div>
        ) : (
                <p>{t.faqs.none}</p>
        )}
    </div>
</section>