---
import { Image } from "astro:assets";

const { title, subtitle, url, src, alt, priority = false } = Astro.props;
---
<a href={`/destinations${url}`}>
    <div class="top-destination">
        <Image
                src={src}
                alt={alt}
                loading={priority ? "eager" : "lazy"}
                fetchpriority={priority ? "high" : "auto"}
        />

        <div class="content">

                <div class="float-card">
                    <div class="heading">
                        <h3>{title}</h3>
                    </div>

                    <div class="paragraph">
                        <p>{subtitle}</p>
                    </div>
                </div>

        </div>
    </div>
</a>