---
// src/components/Footer.astro
const { t } = Astro.props;
const currentYear = new Date().getFullYear();
---

<footer class="bg-brand-400 text-white font-normal">
    <div class="container py-6 flex flex-col md:flex-row justify-between items-center text-center md:text-left">
        <p>&copy; {currentYear} KEA Realtors {t.footer.rights}.</p>

        <div class="social flex-col justify-between items-center gap-4 md:flex-row hidden md:flex">
            <a href={t.footer.socialMedia.web.url} class="block text-base font-normal text-brand-50">
                {t.footer.socialMedia.web.title}
            </a>
            <a href={t.footer.socialMedia.fb.url} class="block text-base font-normal text-brand-50">
                {t.footer.socialMedia.fb.title}
            </a>
            <a href={t.footer.socialMedia.ig.url} class="block text-base font-normal text-brand-50">
                {t.footer.socialMedia.ig.title}
            </a>
        </div>
    </div>
</footer>